Repository mozilla/experiment-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jrbenny35, @pdehaan, @jaredlockhart, @lmorchard

fixes #5803 feat(reporting): Add celery task to generate reportlogs
  app/experimenter/normandy/client.py
  app/experimenter/reporting/constants.py
  app/experimenter/reporting/migrations/0004_alter_reportlog_experiment_type.py
  app/experimenter/reporting/tasks.py
  app/experimenter/reporting/tests/test_tasks.py
  app/experimenter/settings.py
Owners: @jaredlockhart, @lmorchard

fixes #5864 feat(reporting): Add serializer/endpoint for reportlog and stats
  app/experimenter/experiments/api/v7/__init__.py
  app/experimenter/experiments/api/v7/urls.py
  app/experimenter/experiments/api/v7/views.py
  app/experimenter/experiments/tests/api/v7/__init__.py
  app/experimenter/experiments/tests/api/v7/test_views.py
  app/experimenter/reporting/constants.py
  app/experimenter/urls.py
Owners: none

fixes #5865 feat(reporting): Add reportlog frontend
  Makefile
  app/Dockerfile
  app/experimenter/experiments/views.py
  app/experimenter/legacy-ui/templates/base.html
  app/experimenter/reporting-ui/.babelrc
  app/experimenter/reporting-ui/.eslintrc.js
  app/experimenter/reporting-ui/.idea/.gitignore
  app/experimenter/reporting-ui/.idea/inspectionProfiles/Project_Default.xml
  app/experimenter/reporting-ui/.idea/misc.xml
  app/experimenter/reporting-ui/.idea/modules.xml
  app/experimenter/reporting-ui/.idea/reporting.iml
  app/experimenter/reporting-ui/.idea/vcs.xml
  app/experimenter/reporting-ui/__tests__/.eslintrc
  app/experimenter/reporting-ui/__tests__/App.test.tsx
  app/experimenter/reporting-ui/components/App.tsx
  app/experimenter/reporting-ui/index.tsx
  app/experimenter/reporting-ui/jest.config.js
  app/experimenter/reporting-ui/package-lock.json
  app/experimenter/reporting-ui/package.json
  app/experimenter/reporting-ui/setupJest.js
  app/experimenter/reporting-ui/tsconfig.json
  app/experimenter/reporting-ui/webpack.config.js
  app/experimenter/urls.py
  docker-compose.yml
Owners: none

fixes #5760 feat(nimbus): Add relative/absolute branch comparison toggle for TableResults
  app/experimenter/nimbus-ui/src/components/PageResults/TableResults/index.test.tsx
  app/experimenter/nimbus-ui/src/components/PageResults/TableResults/index.tsx
  app/experimenter/nimbus-ui/src/components/PageResults/TableVisualizationRow/index.tsx
  app/experimenter/nimbus-ui/src/components/PageResults/index.tsx
Owners: none

fix #6026 chore(nimbus): rename custom audience to advanced targeting
  app/experimenter/nimbus-ui/src/components/Summary/TableAudience/index.tsx
Owners: none

fix #6034 chore(nimbus): remove locale/country filtering from targeting configs
  app/experimenter/experiments/constants/nimbus.py
  app/experimenter/experiments/tests/api/v5/test_mutations.py
  app/experimenter/experiments/tests/api/v5/test_queries.py
  app/experimenter/experiments/tests/api/v5/test_serializers.py
  app/experimenter/experiments/tests/api/v6/test_serializers.py
  app/experimenter/experiments/tests/test_models/test_models_nimbus.py
  app/experimenter/nimbus-ui/schema.graphql
  app/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.test.tsx
  app/experimenter/nimbus-ui/src/components/PageEditAudience/index.test.tsx
  app/experimenter/nimbus-ui/src/components/PageResults/TableHighlightsOverview/index.test.tsx
  app/experimenter/nimbus-ui/src/components/Summary/TableAudience/index.test.tsx
  app/experimenter/nimbus-ui/src/lib/mocks.tsx
  app/experimenter/nimbus-ui/src/types/globalTypes.ts
  app/tests/integration/nimbus/pages/audience.py
  app/tests/integration/nimbus/test_e2e_create_experiment.py
Owners: @jrbenny35, @pdehaan

.github/CODEOWNERS:

app/tests @jrbenny35 @pdehaan
app/experimenter/base/migrations @jaredlockhart @lmorchard
app/experimenter/experiments/migrations @jaredlockhart @lmorchard
app/experimenter/notifications/migrations @jaredlockhart @lmorchard
app/experimenter/projects/migrations @jaredlockhart @lmorchard
app/experimenter/reporting/migrations @jaredlockhart @lmorchard
